In [38]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [39]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [40]:
movies = pd.read_csv("Movie+Assignment+Data.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [41]:
# Write your code for inspection here

print(movies.columns) # Used to check the names of columns in the Dataframe.
print(movies.shape)   # Used to find the number of rows and columns.
movies.info()         # Used to get a concise summary of Dataframe.
movies.describe()     # Used to generate a statistical summary of numerical columns.

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')
(5043, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [42]:
# Write your code for column-wise null count here

movies.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [43]:
# Write your code for row-wise null count here

movies.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [44]:
# Write your code for column-wise null percentages here

null_percentages = ((movies.isnull().sum()/len(movies))*100).round(2)
null_percentages

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.28
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [45]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 

Drop_Columns = [
    "color", "director_facebook_likes", "actor_1_facebook_likes",
    "actor_2_facebook_likes", "actor_3_facebook_likes", "actor_2_name",
    "cast_total_facebook_likes", "actor_3_name", "duration",
    "facenumber_in_poster", "content_rating", "country",
    "movie_imdb_link", "aspect_ratio", "plot_keywords"
]
# Dropping only columns that exist to avoid KeyError
Columns_To_Drop=[col for col in Drop_Columns if col in movies.columns] 
movies.drop(columns = Columns_To_Drop , inplace =True )
movies.shape   #So, the 15 specified columns mentioned above have been removed.

(5043, 13)

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [46]:
# Write your code for dropping the rows here

# Columns where null % > 5
cols_with_high_nulls = null_percentages[null_percentages > 5].index.tolist() # ['gross', 'content_rating', 'budget', 'aspect_ratio']

# Columns left after dropping unwanted columns , where null % > 5 
cols_left_with_high_nulls =[col for col in cols_with_high_nulls if col in movies]  # ['gross', 'budget']

# Dropping rows with nulls in those columns
movies.dropna(subset=cols_left_with_high_nulls, inplace=True)

# Checking updated shape
movies.shape

(3891, 13)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [47]:
# Write your code for dropping the rows here

print((movies.isnull().sum(axis=1) > 5).value_counts())  # There are no rows having > 5 NaN values.Thus, No Drop of rows needed.

# Inspecting the remaining Columns with null values
movies.isnull().sum()

False    3891
Name: count, dtype: int64

director_name             0
num_critic_for_reviews    1
gross                     0
genres                    0
actor_1_name              3
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  4
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [48]:
# Write your code for filling the NaN values in the 'language' column here

print(movies["language"].value_counts(dropna =False)) # Here, English have the highest frequency ,so its safe to replace it with NaN values in language Column.

# Filling English at the NaN values.
movies["language"].fillna("English", inplace = True )

# Now, checking the language column after filling all NaN values.
movies["language"].value_counts()

language
English       3707
French          37
Spanish         26
Mandarin        15
German          13
Japanese        12
Hindi           10
Cantonese        8
Italian          7
Portuguese       5
Korean           5
NaN              4
Norwegian        4
Danish           3
Dutch            3
Persian          3
Thai             3
Hebrew           3
Dari             2
Indonesian       2
Aboriginal       2
Russian          1
Romanian         1
Vietnamese       1
Arabic           1
Dzongkha         1
Zulu             1
Aramaic          1
Czech            1
Telugu           1
Icelandic        1
Filipino         1
Hungarian        1
Maya             1
Bosnian          1
Mongolian        1
Kazakh           1
Swedish          1
Name: count, dtype: int64

language
English       3711
French          37
Spanish         26
Mandarin        15
German          13
Japanese        12
Hindi           10
Cantonese        8
Italian          7
Portuguese       5
Korean           5
Norwegian        4
Thai             3
Hebrew           3
Persian          3
Danish           3
Dutch            3
Dari             2
Indonesian       2
Aboriginal       2
Arabic           1
Russian          1
Vietnamese       1
Dzongkha         1
Romanian         1
Zulu             1
Bosnian          1
Czech            1
Icelandic        1
Hungarian        1
Mongolian        1
Aramaic          1
Telugu           1
Kazakh           1
Maya             1
Filipino         1
Swedish          1
Name: count, dtype: int64

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [75]:
# Write your code for checking number of retained rows here

# Checking number of columns with null value percentages.
print(((movies.isnull().sum()/len(movies))*100).round(2))

print(movies.shape) # Earlier it was - (5043, 28) and now it is (3891, 13)

# Thus, the number of retained rows are :-
round((3891/5043)*100,2)  # ~ 77.16

director_name             0.00
num_critic_for_reviews    0.03
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
gross in million $        0.00
budget in million $       0.00
profit                    0.00
genre_1                   0.00
genre_2                   0.00
dtype: float64
(3856, 16)

77.16

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [50]:
# Write your code for unit conversion here

movies[['gross in million $', 'budget in million $']] = movies[['gross', 'budget']] / 1000000
movies.drop(["gross","budget"] , axis = 1 , inplace =True) # New columns have been made in million $ , now old columns are not required, so removed it.
movies.head()

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $
0,James Cameron,723.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2009.0,7.9,33000,760.505847,237.0
1,Gore Verbinski,302.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,2007.0,7.1,0,309.404152,300.0
2,Sam Mendes,602.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2015.0,6.8,85000,200.074175,245.0
3,Christopher Nolan,813.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2012.0,8.5,164000,448.130642,250.0
5,Andrew Stanton,462.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2012.0,6.6,24000,73.058679,263.7

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [51]:
# Write your code for creating the profit column here

movies["profit"]= movies["gross in million $"]-movies["budget in million $"]
movies.head()

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit
0,James Cameron,723.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2009.0,7.9,33000,760.505847,237.0,523.505847
1,Gore Verbinski,302.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,2007.0,7.1,0,309.404152,300.0,9.404152
2,Sam Mendes,602.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2015.0,6.8,85000,200.074175,245.0,-44.925825
3,Christopher Nolan,813.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2012.0,8.5,164000,448.130642,250.0,198.130642
5,Andrew Stanton,462.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2012.0,6.6,24000,73.058679,263.7,-190.641321

In [52]:
# Write your code for sorting the dataframe here

movies.sort_values(by = "profit" , ascending = False).head(10)

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit
0,James Cameron,723.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2009.0,7.9,33000,760.505847,237.0,523.505847
29,Colin Trevorrow,644.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,2015.0,7.0,150000,652.177271,150.0,502.177271
26,James Cameron,315.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,1997.0,7.7,26000,658.672302,200.0,458.672302
3024,George Lucas,282.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,1977.0,8.7,33000,460.935665,11.0,449.935665
3080,Steven Spielberg,215.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,1982.0,7.9,34000,434.949459,10.5,424.449459
794,Joss Whedon,703.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2012.0,8.1,123000,623.279547,220.0,403.279547
17,Joss Whedon,703.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2012.0,8.1,123000,623.279547,220.0,403.279547
509,Roger Allers,186.0,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,1994.0,8.5,17000,422.783777,45.0,377.783777
240,George Lucas,320.0,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,1999.0,6.5,13000,474.544677,115.0,359.544677
66,Christopher Nolan,645.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,2008.0,9.0,37000,533.316061,185.0,348.316061

In [53]:
top10 = movies.sort_values(by = "profit" , ascending = False).head(10)
top10

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit
0,James Cameron,723.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2009.0,7.9,33000,760.505847,237.0,523.505847
29,Colin Trevorrow,644.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,2015.0,7.0,150000,652.177271,150.0,502.177271
26,James Cameron,315.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,1997.0,7.7,26000,658.672302,200.0,458.672302
3024,George Lucas,282.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,1977.0,8.7,33000,460.935665,11.0,449.935665
3080,Steven Spielberg,215.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,1982.0,7.9,34000,434.949459,10.5,424.449459
794,Joss Whedon,703.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2012.0,8.1,123000,623.279547,220.0,403.279547
17,Joss Whedon,703.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2012.0,8.1,123000,623.279547,220.0,403.279547
509,Roger Allers,186.0,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,1994.0,8.5,17000,422.783777,45.0,377.783777
240,George Lucas,320.0,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,1999.0,6.5,13000,474.544677,115.0,359.544677
66,Christopher Nolan,645.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,2008.0,9.0,37000,533.316061,185.0,348.316061

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [54]:
# Write your code for dropping duplicate values here

movies =movies.drop_duplicates() # Dropping all rows duplicates from movies Dataframe.
movies.shape

(3856, 14)

In [55]:
# Write code for repeating subtask 2 here

top10 = movies.sort_values(by = "profit",ascending =False).head(10)
top10

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit
0,James Cameron,723.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2009.0,7.9,33000,760.505847,237.0,523.505847
29,Colin Trevorrow,644.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,2015.0,7.0,150000,652.177271,150.0,502.177271
26,James Cameron,315.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,1997.0,7.7,26000,658.672302,200.0,458.672302
3024,George Lucas,282.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,1977.0,8.7,33000,460.935665,11.0,449.935665
3080,Steven Spielberg,215.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,1982.0,7.9,34000,434.949459,10.5,424.449459
17,Joss Whedon,703.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2012.0,8.1,123000,623.279547,220.0,403.279547
509,Roger Allers,186.0,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,1994.0,8.5,17000,422.783777,45.0,377.783777
240,George Lucas,320.0,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,1999.0,6.5,13000,474.544677,115.0,359.544677
66,Christopher Nolan,645.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,2008.0,9.0,37000,533.316061,185.0,348.316061
439,Gary Ross,673.0,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games,701607,1959.0,English,2012.0,7.3,140000,407.999255,78.0,329.999255

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [56]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'


# Filtered movies with >25,000 votes, then hierarchically sorted by imdb_score and num_voted_users (both descending), and selected top 250.
IMDb_Top_250 = movies[movies["num_voted_users"] >25000].sort_values(by = ["imdb_score","num_voted_users"],ascending =[False,False]).head(250)

IMDb_Top_250["Rank"] = range(1,251)
IMDb_Top_250

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit,Rank
1937,Frank Darabont,199.0,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,1994.0,9.3,108000,28.341469,25.00,3.341469,1
3466,Francis Ford Coppola,208.0,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,1972.0,9.2,43000,134.821952,6.00,128.821952,2
66,Christopher Nolan,645.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,2008.0,9.0,37000,533.316061,185.00,348.316061,3
2837,Francis Ford Coppola,149.0,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,1974.0,9.0,14000,57.300000,13.00,44.300000,4
3355,Quentin Tarantino,215.0,Crime|Drama,Bruce Willis,Pulp Fiction,1324680,2195.0,English,1994.0,8.9,45000,107.930000,8.00,99.930000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,John Carney,232.0,Drama|Music|Romance,Glen Hansard,Once,90827,329.0,English,2007.0,7.9,26000,9.437933,0.18,9.257933,246
3264,Michael Haneke,447.0,Drama|Romance,Isabelle Huppert,Amour,70382,190.0,French,2012.0,7.9,33000,0.225377,8.90,-8.674623,247
2487,George Cukor,82.0,Drama|Family|Musical|Romance,Jeremy Brett,My Fair Lady,66959,258.0,English,1964.0,7.9,0,72.000000,17.00,55.000000,248
3680,Spike Lee,103.0,Drama,Ruby Dee,Do the Right Thing,59524,418.0,English,1989.0,7.9,0,27.545445,6.50,21.045445,249
2666,James Ivory,58.0,Drama|Romance,Anthony Hopkins,The Remains of the Day,45703,156.0,English,1993.0,7.9,0,22.954968,11.50,11.454968,250

In [57]:
# Extracting all the movies in the IMDb_Top_250 dataframe which are not in the English language and store them in a new dataframe named Top_Foreign_Lang_Film.

Top_Foreign_Lang_Film = IMDb_Top_250[~(IMDb_Top_250["language"] == "English")]
Top_Foreign_Lang_Film.head()

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit,Rank
4498,Sergio Leone,181.0,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1966.0,8.9,20000,6.100000,1.2,4.900000,8
4029,Fernando Meirelles,214.0,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,2002.0,8.7,28000,7.563397,3.3,4.263397,19
4747,Akira Kurosawa,153.0,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,1954.0,8.7,11000,0.269061,2.0,-1.730939,20
2373,Hayao Miyazaki,246.0,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,2001.0,8.6,28000,10.049886,19.0,-8.950114,27
4259,Florian Henckel von Donnersmarck,215.0,Drama|Thriller,Sebastian Koch,The Lives of Others,259379,407.0,German,2006.0,8.5,39000,11.284657,2.0,9.284657,45

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

In [58]:
# No,there is no "Veer-Zaara" word in the dataframe.

Top_Foreign_Lang_Film.isin(["Veer-Zaara"]).any().any()  # First any() checks each column for "Veer-Zaara" and returns a boolean Series,
                                                        # second any() checks if any column contains True, confirming its presence in the DataFrame.

False

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [59]:
# Write your code for extracting the top 10 directors here

top10director = movies.groupby("director_name")["imdb_score"].mean().sort_values(ascending =False).head(10)
top10director = top10director.round(1).to_frame()
top10director

                       imdb_score
director_name
Charles Chaplin               8.6
Tony Kaye                     8.6
Alfred Hitchcock              8.5
Ron Fricke                    8.5
Damien Chazelle               8.5
Majid Majidi                  8.5
Sergio Leone                  8.4
Christopher Nolan             8.4
S.S. Rajamouli                8.4
Marius A. Markevicius         8.4

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [60]:
# Inspecting the genres Column in the movies DataFrame

movies.head()

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit
0,James Cameron,723.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2009.0,7.9,33000,760.505847,237.0,523.505847
1,Gore Verbinski,302.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,2007.0,7.1,0,309.404152,300.0,9.404152
2,Sam Mendes,602.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2015.0,6.8,85000,200.074175,245.0,-44.925825
3,Christopher Nolan,813.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2012.0,8.5,164000,448.130642,250.0,198.130642
5,Andrew Stanton,462.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2012.0,6.6,24000,73.058679,263.7,-190.641321

In [61]:
# Write your code for extracting the first two genres of each movie here

movies[["genre_1","genre_2"]]= movies["genres"].apply(lambda x: pd.Series([x.split("|")[0], x.split("|")[1] 
                                                      if len(x.split("|")) >1 else x.split("|")[0]])) 
# Steps done for above code :
# Split the 'genres' column by "|" delimiter into a list of genres
# Created new columns 'genre_1' and 'genre_2' by extracting the first and second genres
# Duplicated the first genre into 'genre_2' if only one genre was present

movies.head()

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit,genre_1,genre_2
0,James Cameron,723.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2009.0,7.9,33000,760.505847,237.0,523.505847,Action,Adventure
1,Gore Verbinski,302.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,2007.0,7.1,0,309.404152,300.0,9.404152,Action,Adventure
2,Sam Mendes,602.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2015.0,6.8,85000,200.074175,245.0,-44.925825,Action,Adventure
3,Christopher Nolan,813.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2012.0,8.5,164000,448.130642,250.0,198.130642,Action,Thriller
5,Andrew Stanton,462.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2012.0,6.6,24000,73.058679,263.7,-190.641321,Action,Adventure

In [62]:
# Grouping the dataframe using genre_1 as the primary column and genre_2 as the secondary column.

movies_by_segment = movies.groupby(["genre_1","genre_2"]).size()
movies_by_segment

genre_1   genre_2
Action    Action         6
          Adventure    412
          Animation      8
          Biography     14
          Comedy       131
                      ...
Romance   Sci-Fi         1
Sci-Fi    Sci-Fi         1
          Thriller       7
Thriller  Thriller       3
Western   Western        3
Length: 103, dtype: int64

In [63]:
# The 5 most popular combo of genres by finding the mean of the gross values using the gross column and store them in a new dataframe named PopGenre.

PopGenre = movies.groupby(["genre_1","genre_2"])["profit"].mean().sort_values(ascending=False).head(5)
PopGenre.to_frame()

                       profit
genre_1   genre_2
Family    Sci-Fi   424.449459
Adventure Sci-Fi   124.127758
Musical   Romance   88.894500
Animation Family    47.426929
Comedy    Western   39.803641

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [64]:
#Inspecting the actor_1_name Column for future operations.

movies.head(3)

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit,genre_1,genre_2
0,James Cameron,723.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2009.0,7.9,33000,760.505847,237.0,523.505847,Action,Adventure
1,Gore Verbinski,302.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,2007.0,7.1,0,309.404152,300.0,9.404152,Action,Adventure
2,Sam Mendes,602.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2015.0,6.8,85000,200.074175,245.0,-44.925825,Action,Adventure

In [65]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies[movies["actor_1_name"] == "Meryl Streep"]
Meryl_Streep.head()

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit,genre_1,genre_2
410,Nancy Meyers,187.0,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,2009.0,6.6,0,112.703470,85.0,27.703470,Comedy,Drama
1106,Curtis Hanson,42.0,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,1994.0,6.3,0,46.815748,45.0,1.815748,Action,Adventure
1204,Nora Ephron,252.0,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,2009.0,7.0,13000,94.125426,40.0,54.125426,Biography,Drama
1408,David Frankel,208.0,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,2006.0,6.8,0,124.732962,35.0,89.732962,Comedy,Drama
1483,Robert Redford,227.0,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,2007.0,6.2,0,14.998070,35.0,-20.001930,Drama,Thriller

In [66]:
Leo_Caprio = movies[movies["actor_1_name"] == "Leonardo DiCaprio"]
Leo_Caprio.head()

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit,genre_1,genre_2
26,James Cameron,315.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,1997.0,7.7,26000,658.672302,200.0,458.672302,Drama,Romance
50,Baz Luhrmann,490.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,2013.0,7.3,115000,144.812796,105.0,39.812796,Drama,Romance
97,Christopher Nolan,642.0,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,2010.0,8.8,175000,292.568851,160.0,132.568851,Action,Adventure
179,Alejandro G. IÃ±Ã¡rritu,556.0,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,2015.0,8.1,190000,183.635922,135.0,48.635922,Adventure,Drama
257,Martin Scorsese,267.0,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,2004.0,7.5,0,102.608827,110.0,-7.391173,Biography,Drama

In [67]:
Brad_Pitt = movies[movies["actor_1_name"] == "Brad Pitt"]
Brad_Pitt.head()

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit,genre_1,genre_2
101,David Fincher,362.0,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,2008.0,7.8,23000,127.490802,150.0,-22.509198,Drama,Fantasy
147,Wolfgang Petersen,220.0,Adventure,Brad Pitt,Troy,381672,1694.0,English,2004.0,7.2,0,133.228348,175.0,-41.771652,Adventure,Adventure
254,Steven Soderbergh,198.0,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,2004.0,6.4,0,125.531634,110.0,15.531634,Crime,Thriller
255,Doug Liman,233.0,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,2005.0,6.5,0,186.336103,120.0,66.336103,Action,Comedy
382,Tony Scott,142.0,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,2001.0,7.0,0,0.026871,92.0,-91.973129,Action,Crime

In [68]:
# Write your code for combining the three dataframes here

Combined =pd.concat( [Meryl_Streep,Leo_Caprio,Brad_Pitt], axis = 0,ignore_index =True)
Combined

,director_name,num_critic_for_reviews,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,title_year,imdb_score,movie_facebook_likes,gross in million $,budget in million $,profit,genre_1,genre_2
0,Nancy Meyers,187.0,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,2009.0,6.6,0,112.703470,85.0,27.703470,Comedy,Drama
1,Curtis Hanson,42.0,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,1994.0,6.3,0,46.815748,45.0,1.815748,Action,Adventure
2,Nora Ephron,252.0,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,2009.0,7.0,13000,94.125426,40.0,54.125426,Biography,Drama
3,David Frankel,208.0,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,2006.0,6.8,0,124.732962,35.0,89.732962,Comedy,Drama
4,Robert Redford,227.0,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,2007.0,6.2,0,14.998070,35.0,-20.001930,Drama,Thriller
5,Sydney Pollack,66.0,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,1985.0,7.2,0,87.100000,31.0,56.100000,Biography,Drama
6,David Frankel,234.0,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,2012.0,6.3,0,63.536011,30.0,33.536011,Comedy,Drama
7,Carl Franklin,64.0,Drama,Meryl Streep,One True Thing,9283,112.0,English,1998.0,7.0,592,23.209440,30.0,-6.790560,Drama,Drama
8,Stephen Daldry,174.0,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,2002.0,7.6,0,41.597830,25.0,16.597830,Drama,Romance
9,Phyllida Lloyd,331.0,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,2011.0,6.4,18000,29.959436,13.0,16.959436,Biography,Drama
10,Robert Altman,211.0,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,2006.0,6.8,683,20.338609,10.0,10.338609,Comedy,Drama
11,James Cameron,315.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,1997.0,7.7,26000,658.672302,200.0,458.672302,Drama,Romance
12,Baz Luhrmann,490.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,2013.0,7.3,115000,144.812796,105.0,39.812796,Drama,Romance
13,Christopher Nolan,642.0,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,2010.0,8.8,175000,292.568851,160.0,132.568851,Action,Adventure
14,Alejandro G. IÃ±Ã¡rritu,556.0,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,2015.0,8.1,190000,183.635922,135.0,48.635922,Adventure,Drama
15,Martin Scorsese,267.0,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,2004.0,7.5,0,102.608827,110.0,-7.391173,Biography,Drama
16,Quentin Tarantino,765.0,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,2012.0,8.5,199000,162.804648,100.0,62.804648,Drama,Western
17,Edward Zwick,166.0,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,2006.0,8.0,14000,57.366262,100.0,-42.633738,Adventure,Drama
18,Martin Scorsese,606.0,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,2013.0,8.2,138000,116.866727,100.0,16.866727,Biography,Comedy
19,Martin Scorsese,233.0,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,2002.0,7.5,0,77.679638,100.0,-22.320362,Crime,Drama
20,Martin Scorsese,352.0,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,2006.0,8.5,29000,132.373442,90.0,42.373442,Crime,Drama
21,Martin Scorsese,490.0,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,2010.0,8.1,53000,127.968405,80.0,47.968405,Mystery,Thriller
22,Ridley Scott,238.0,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,2008.0,7.1,0,39.380442,70.0,-30.619558,Action,Drama
23,Steven Spielberg,194.0,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,2002.0,8.0,15000,164.435221,52.0,112.435221,Biography,Crime
24,Danny Boyle,118.0,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,2000.0,6.6,0,39.778599,50.0,-10.221401,Adventure,Drama
25,Sam Mendes,323.0,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,2008.0,7.3,0,22.877808,35.0,-12.122192,Drama,Romance
26,Randall Wallace,83.0,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,1998.0,6.4,0,56.876365,35.0,21.876365,Action,Adventure
27,Clint Eastwood,392.0,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,2011.0,6.6,16000,37.304950,35.0,2.304950,Biography,Crime
28,Sam Raimi,63.0,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,1995.0,6.4,0,18.636537,32.0,-13.363463,Action,Thriller
29,Jerry Zaks,45.0,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,1996.0,6.7,1000,12.782508,23.0,-10.217492,Drama,Drama
30,Baz Luhrmann,106.0,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,1996.0,6.8,10000,46.338728,14.5,31.838728,Drama,Romance
31,Baz Luhrmann,490.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,2013.0,7.3,115000,144.812796,105.0,39.812796,Drama,Romance
32,David Fincher,362.0,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,2008.0,7.8,23000,127.490802,150.0,-22.509198,Drama,Fantasy
33,Wolfgang Petersen,220.0,Adventure,Brad Pitt,Troy,381672,1694.0,English,2004.0,7.2,0,133.228348,175.0,-41.771652,Adventure,Adventure
34,Steven Soderbergh,198.0,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,2004.0,6.4,0,125.531634,110.0,15.531634,Crime,Thriller
35,Doug Liman,233.0,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,2005.0,6.5,0,186.336103,120.0,66.336103,Action,Comedy
36,Tony Scott,142.0,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,2001.0,7.0,0,0.026871,92.0,-91.973129,Action,Crime
37,Steven Soderbergh,186.0,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,2001.0,7.8,0,183.405771,85.0,98.405771,Crime,Thriller
38,David Ayer,406.0,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,2014.0,7.6,82000,85.707116,68.0,17.707116,Action,Drama
39,Jean-Jacques Annaud,76.0,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,1997.0,7.0,0,37.901509,70.0,-32.098491,Adventure,Biography
40,David Fincher,315.0,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,1999.0,8.8,48000,37.023395,63.0,-25.976605,Drama,Drama
41,Patrick Gilmore,98.0,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,2003.0,6.7,880,26.288320,60.0,-33.711680,Adventure,Animation
42,Neil Jordan,120.0,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,1994.0,7.6,11000,105.264608,60.0,45.264608,Drama,Fantasy
43,Terrence Malick,584.0,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,2011.0,6.7,39000,13.303319,32.0,-18.696681,Drama,Fantasy
44,Andrew Dominik,273.0,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,2007.0,7.5,0,3.904982,30.0,-26.095018,Biography,Crime
45,Alejandro G. IÃ±Ã¡rritu,285.0,Drama,Brad Pitt,Babel,243799,908.0,English,2006.0,7.5,0,34.300771,25.0,9.300771,Drama,Drama
46,Angelina Jolie Pitt,131.0,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,2015.0,5.3,0,0.531009,10.0,-9.468991,Drama,Romance
47,Andrew Dominik,414.0,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,2012.0,6.2,20000,14.938570,15.0,-0.061430,Crime,Thriller
48,Tony Scott,122.0,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,1993.0,8.0,15000,12.281500,13.0,-0.718500,Action,Crime

In [69]:
# Write your code for grouping the combined dataframe here

Combined.groupby("actor_1_name")

In [70]:
# Write the code for finding the mean of critic reviews and audience reviews here

# Mean of the num_critic_for_reviews and the actor having the highest mean is:
print(Combined.groupby("actor_1_name")["num_critic_for_reviews"].mean().to_frame())
Combined.groupby("actor_1_name")["num_critic_for_reviews"].mean().idxmax()

                   num_critic_for_reviews
actor_1_name
Brad Pitt                      245.000000
Leonardo DiCaprio              330.190476
Meryl Streep                   181.454545

'Leonardo DiCaprio'

In [71]:
# Mean of the num_user_for_reviews and the actor having the highest mean is:

print(Combined.groupby("actor_1_name")["num_user_for_reviews"].mean().to_frame())
Combined.groupby("actor_1_name")["num_user_for_reviews"].mean().idxmax()

                   num_user_for_reviews
actor_1_name
Brad Pitt                    742.352941
Leonardo DiCaprio            914.476190
Meryl Streep                 297.181818

'Leonardo DiCaprio'

**Checkpoint 6:** `Leonardo` has aced both the lists!